<!DOCTYPE HTML>
<!--
    Projection by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>SomMLier</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/css/main.css" />
    </head>
    <body>

        <!-- Header -->
            <header id="header">
                <div class="inner">
                    <a href="{{ url_for('home') }}" class="logo"><strong>SomMLier</strong> by TEMPLATED</a>
                    <nav id="nav">
                        <a href="{{ url_for('home') }}">About</a>
                        <a href="{{ url_for('label') }}">Got my label</a>
                        <a href="{{ url_for('upload') }}">Need to take a photo</a>
                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                </div>
            </header>

        <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <header>
                        <h1>Welcome to SomMLier</h1>
                    </header>

                    <div class="flex ">

                        <div>
                            <h3>Winery</h3>
                        </div>

                        <div>
                            <h3>Region</h3>
                        </div>

                        <div>
                            <h3>Variety</h3>
                        </div>
                        
                        <div>
                            <h3>Description</h3>
                        </div>

                        <div>
                            <h3>Price</h3>
                        </div>

                    </div>

                    <footer>
                        <a href="{{ url_for('label') }}" class="button">Get Started</a>
                    </footer>
                </div>
            </section>


        <!-- Three -->
            <section id="three" class="wrapper align-center">
                <div class="inner">
                    <div class="flex flex-2">
                        <article>
                            <div class="image square">
                                <img src="../static/images/pic01.jpg" alt="Pic 01" />
                            </div>
                            <header>
                                <h3>In a hurry?<br /> Need a good bottle of wine?</h3>
                            </header>
                            <p>From particular flavor profiles to pleasing mouthfeel,<br /> the world of wine can be a confusing place. SomMLier is here <br /> to help give you that little bit of extra confidence on your next purchase!</p>
                        </article>
                        <article>
                            <div class="image square">
                                <img src="../static/images/pic02.jpg" alt="Pic 02" />
                            </div>
                            <header>
                                <h3>Machine Learning<br /> Training the right palate</h3>
                            </header>
                            <p>Systems, like people, can learn from data and identify<br /> patterns that determine the overall quality of a wine<br /> This model was trained on 130k wine reviews from <a href="https://www.winemag.com" title="winemag.com">winemag.com</a></p>
                        </article>
                    </div>
                </div>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <div class="inner">

                    <h3>Get in touch</h3>

                    <form action="#" method="post">

                        <div class="field half first">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="email" id="email" type="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input value="Send Message" class="button alt" type="submit"></li>
                        </ul>
                    </form>

                    <div class="copyright">
                        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                        <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>
                    </div>
                </div>
            </footer>

        <!-- Scripts -->
            <script src="../static/js/jquery.min.js"></script>
            <script src="../static/js/skel.min.js"></script>
            <script src="../static/js/util.js"></script>
            <script src="../static/js/main.js"></script>

    </body>
</html>